:root{
  --color-primary:#0078ff;
  --color-primary-1:#3f99ff;
  --color-primary-2:#71b3ff;
  --color-primary-3:#9dcbff;
  --color-primary-4:#e8f3ff;
  --color-primary-5:#f3f9ff;


  --color-primary-hover:#0067dd;
  --color-second: #b3b30b;


  --color-error:#ff0037;
  --color-error-1:#ff3b65;
  --color-warn:#ea5e00;
  --color-warn-1:#ffc68c;
  --large-height:48px;
  --medium-height:24px;
  --small-height:16px;
  --mini-height:12px;
}
